@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary: #05893e;
  --primary-50: #05893e50;
  --primary-dark: #006f3b;

  --banner-start: #f0fbea;
  --banner-mid: #e2f8d8;
  --banner-end: #d4f3c5;

  --footer: #062b49;
  --footer-dark: #041d31;

  --background: #f0f5f0;
  --card: #ffffff;

  --text: #102a20;
  --muted: #718078;

  --priceup: #087443;
  --pricedown: #e53935;
}

@theme {
  --color-main_color: #ffffff;
  --color-back_color: var(--background);
  --color-second_color: var(--text);
  --color-accent_color: var(--primary);
  --color-accent_color-50: var(--primary-50);
  --color-footer: var(--footer);
  --color-footerB: var(--footer-dark);

  --color-priceup: var(--priceup);
  --color-pricedown: var(--pricedown);

  --background-image-primary_gradient: linear-gradient(
    150deg,
    #f0fbea 0%,
    #e2f8d8 40%,
    #d4f3c5 100%
  );

  --background-image-footer_gradient: linear-gradient(
    180deg,
    #062b49 0%,
    #041d31 100%
  );
}

@utility main-container {
  @apply max-w-7xl mx-auto px-6 xl:px-0;
}
@utility main-shadow {
  box-shadow:
    0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1);
}
